*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
/*header*/
header{
  width: 100%;
  background-color: #000;
  padding: 5px 15px;
}
header a, span{
  margin: 0;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}
.fnav{
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 5px 15px;
}
.mini-nav{
  width: 100%;
  background-color: #e8e8e8;
  padding: 0px 20px 0px 20px;
  height: 40px;
  align-items: center;
  /* position: fixed;
  z-index: 5; */
  margin-bottom: 45px;
}
.left-side ul{
  padding: 0;
  margin: 0;
}
.left-side ul li a{
  color: #000;
  font-size: 15px;
  margin-left: 10px;
}
.right-side ul{
  margin: 0;
}
.right-side ul li a, span{
  color: #000;
  font-size: 15px;
  margin-left: 10px;
}
legend{
  font-size: 15px;
  margin-left: 10px;
}
.options{
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  /* padding: 0 37px; */
  border: .5px solid #000;
}
.options option{
  margin: 0;
  cursor: default;
  padding: 0 37px;
}
.x{
  background:#0000cdcf;
}
.y{
  background: #fff;
}
/* main */
.ml{
  margin-left: 15px;
}
.mb{
  margin-bottom: 20px;
}
.mb2{
  margin-bottom: 10px;
}
.mb3{
  margin-bottom: 5px;
}
.mt{
  margin-top: 62px;
}
.mt2{
  margin-top: 10px;
}
.mt3{
  margin-top: 50px;
}
.mt4{
  margin-top: 24px;
}
.mt5{
  margin-top: 37px;
}

.mr{
  margin-right: 20px;
}
.flex{
  display: flex;
}
.justify-btw{
  justify-content: space-between;
}
.info3{
  font-size: 13px;
  color: #302f2f;
}
.fbtn3 {
  height: 40px;
  background: #f7f7f7;
  border: .5px solid #000;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}
.fbtn3b {
  height: 41px;
  background: #f7f7f7;
  border: none;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}
.fbtn3 a, .fbtn3b a {
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
}
.fbtn3:hover {
  border: none;
  cursor: pointer;
}
.fbtn3::before, .fbtn3b::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dotted transparent;
  z-index: 0;
  transition: border-color 0.3s;
}

.fbtn3:hover::before, .fbtn3b:hover::before {
  border-color: #000;
  animation: border-dots 2s infinite linear;
}
.fcontainer3 {
  width: 100%;
  margin-bottom: 30px;
}
.fcont-grid3 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  width: 98%;
  margin-bottom: 30px;
  overflow-x: hidden;
}
.grid-item {
  position: relative;
  cursor: pointer;
}
.grid-item2 {
  position: relative;
  cursor: pointer;
}
.grid-item3 {
  /* position: relative; */
  cursor: pointer;
}
.new{
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
}
.new p{
  margin: 0;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}
.img-wrapper img.back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cont-info{
  margin-top: 10px;
  font-size: 14px;
}
.cont-info p{
  margin-bottom: 5px;
}
.c, .cb{
  color: #8f8e8e;
}
.cont-info h6{
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 5px;
}
.color-grid div{
  background-color: #f1f1f1;
  width: 42px;
  height: 42px;
  border: .5px solid #000;
}
.color-grid p{
  margin: 0;
}
.brown{
  width: 40px;
  height: 40px;
  border: .5px solid #fff;
  background-color: #b7312c;
}
.lbrown{
  width: 42px;
  height: 42px;
  border: .5px solid #fff;
  background-color: #e8927c;
}
.lightb{
  border: none;
  position: relative;
  width: 42px;
  height: 42px;
  background-color:#f5dadf;
}
.lightg{
  border: none;
  position: relative;
  width: 42px;
  height: 42px;
  background-color:#85b09a;
}
.lightb::before,.lightg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dotted transparent;
  z-index: 0;
  transition: border-color 0.3s;
}
.lightb:hover::before, .lightg:hover::before {
  border-color: #000;
  animation: border-dots 2s infinite linear;
}
.fbtn4 {
  width: 93%;
  height: 40px;
  background: transparent;
  border-left: none;
  border-right: .5px solid #000;
  border-top: none;
  border-bottom: .5px solid #000;
  position: relative;
  overflow: hidden;
}
.fbtn4 a {
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
}
.fbtn4:hover {
  border: none;
  cursor: pointer;
}
.fbtn4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dotted transparent;
  z-index: 0;
  transition: border-color 0.3s;
}
.fbtn4:hover::before {
  border-color: #000;
  animation: border-dots2 2s infinite linear;
}
.overlay{
  position: absolute;
  bottom: 80px;
  left: 15px;
  font-size: 22px;
  color: white;
}
.fbtn {
  /* width: 93%; */
  height: 40px;
  background: #fff;
  border-left: none;
  border-right: .5px solid #000;
  border-top: none;
  border-bottom: .5px solid #000;
  position: absolute;
  bottom: 15px;
  left: 15px;
  overflow: hidden;
}
.fbtn a {
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 8px 16px;
}
.fbtn:hover {
  border: none;
  cursor: pointer;
}
.fbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dotted transparent;
  z-index: 0;
  transition: border-color 0.3s;
}
.fbtn:hover::before {
  border-color: #000;
  animation: border-dots2 2s infinite linear;
}
@keyframes border-dots {
  0% {
    clip-path: inset(0 0 0 0);
  }
  25% {
    clip-path: inset(0 0 50% 0);
  }
  50% {
    clip-path: inset(50% 0 0 0);
  }
  75% {
    clip-path: inset(0 50% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 50%);
  }
}
@keyframes border-dots2 {
  0% {
    clip-path: inset(0 0 0 0);
  }
  25% {
    clip-path: inset(0 0 50% 0);
  }
  100% {
    clip-path: inset(0 0 0 50%);
  }
}
/* Footer */
footer{
  width: 100%;
  background-color: #faf2f4;
  padding: 20px 40px;
}
.footer-top{
  width: 98%;
  margin-bottom: 40px;
}
.top-msg{
  font-size: 15px;
  line-height: 1.5;
}
input{
  width: 520px;
  padding: 15px 10px;
  margin-bottom: 10px;
  outline: none;
  border-top: none;
  border-bottom: .5px solid #000;
  border-right: none;
  border-left: none;
  background-color: #fff;
}
#err-msg{
  color: red;
  display: none;
}
.email{
  margin-left: 60px;
}
.email p{
  color: grey;
}
.privacy-policy {
  text-decoration: underline;
  color: grey;
}
#subBtn{
  height: 52px;
  padding: 10px;
  background-color: #fff;
  border-top: none;
  border-bottom: .5px solid #000;
  border-left: none;
  border-right: .5px solid #000;
}
.footer-middle{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
}
.footer-grid p{
  margin-bottom: 20px;
  font-size: 14px;
}
.footer-grid ul li{
  margin-bottom: 10px;
  font-size: 14px;
}
.footer-grid ul li:hover{
 text-decoration: underline;
}
.footer-grid ul li a{
  color: #000;
}
.footer-bottom{
  margin: auto;
  width: 100%;
}
.glossier-rights{
  width: 40%;
  align-items: end;
  gap: 5px;
}
.glossier-rights a{
  color: #000;
  text-decoration: none;
}
.glossier-rights a:hover{
 text-decoration: underline;
}
.characters{
  width: 60%;
  align-items: end;
}
 .characters img{
  width: 90%;
  margin-left: 100px;
 }
 a{
  text-decoration: none;
 }
 ul{
  padding-left: 0;
 }
 /* .chatbox{
  position: fixed;
  bottom: 35px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
 }
 .chatbox i{
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
 } */



  






  



